/*For all elements*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

/*Behavior of site background*/
main {
  display:flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
    background-color: #fAfAfA;
    min-height: 100vh;
}

/*Controls page header box*/
.header {
  height: 8vh;
  display: flex;
  align-items: center;
  background-color: #5A8BD3;
  padding-left: 2%
}
.header h1 {
  font-size: 4rem;
  color: #353535;

}
.header h1 span {
  color: #F1B967;
}
.subheader {
  text-align: center;
  margin-top: 1vh;
}
.subheader h2 {
  font-size: 2.5rem;
}

/*Controls horizontal lines (page breaks) */
hr {
  margin: 2vh auto;
  width: 64%;
  height: 3px;
  background-color: #A3A3A3;
  border: 0

}
hr:last-of-type, hr:first-of-type {
  margin: 1vh auto;
  height: 2px;
}

/*Deals with behavior of disease input box, submit box, location header text*/
.disease, .location, .submit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vh
}
.location {
  margin-bottom: 1.5vh;
  margin-top: 1vh
}
.submit {
  margin-bottom: 1.5vh;
  height: 4vh;
}
#submitButton {
  background-color: #F1B967;
  border-radius: 5px;
  height: 100%;
  width: 13%;
  font-weight: bold;
  font-size: 1.6rem;
}
#submitButton:hover {
  background-color: #D3A25A;
}
#location-input, .disease-input {
  height: 100%;
  width: 17vw
}
#location-input {
display: none
}
.disease-input {
  width: 15vw
}
.disease-input:hover {
  background-color: #b3b3b3
}
.tag {
  font-size: 1.6rem;
  margin-right: 7px
}

/*Controls google map size/dimensions*/
#map {
  width: 50vw;
  height: 50vh;
  margin: 0 auto;
  margin-bottom: 2vh;
  border: 2px solid #000;
}

#bottomDivider {
display: none;
}

/*Controls the graph and risk result text*/
.risk-result {
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 0.3%;
}
#riskLevel {
    margin-left: 0.2em;
}
.graph-div {
border: 4px solid 'black';
}
.graph {
min-width: 600px;
  width: 50vw;
  margin: 0 auto;
  margin-bottom: 1%;
  background-color: '#abfeda';
  height: calc(var(--width) * 1.5);
  border: 2px solid #000;
}

#supportedText {
    font-size: 1.7rem;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 0.5%;
    margin-top: 0.3%;
    justify-content: center;
}

.bordered {
    border: 2px solid #82858B;
    border-radius: 5px;
    width: 60vw;
    margin: 0 auto;
    margin-bottom: 5vh;
    padding-top: .5vh;
    padding-bottom: 1vh;
}

.detailedHeader {
    font-size: 1.6rem;
    margin-bottom: 0.1%;
    font-weight: bold;
}

#percentile, #factors {
  font-size: 1.4rem;
  text-align: center;
  width: 50vw;
  margin: 0 auto;
  margin-bottom: 1%;
}

#detailedToggle, #supportedToggle{
    margin: 0 auto;
    padding: 5px;
    background-color:#F6F6F6;
    border: none;
    justify-content: center;
}
#detailedToggle:hover, #supportedToggle:hover {
    color: #551799;
}
#results-detailed {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

#detailed-dropdown {
  font-size: 1.6rem;
}

#reference a {
    font-size: 1.3rem;
    color: rgb(16,27,147);
}
/*Hidden elements */
#hidden, .hidden, #detailedToggle, #supportedToggle, .graph-div, .graph, .risk-result, #location-input, #supportedToggle{
    display: none
}

/*Footer */
footer {
  height: 10vh
}








