{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang='en'>
<head>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <title>RiskWatch: Disease Calculator</title>
	<link rel="stylesheet" type='text/css' href="{% static 'css/risk_styles.css' %}">
</head>

<body>
  <main id='site-background'>
    <div class='header'>
      <h1>
        Risk<span>Watch</span>
      </h1>
    </div>
    <div class='subheader'>
      <h2>
        Discover the Risk of Disease Worldwide
      </h2>
    </div>
    <hr>
    <form class='inputs' method="post" action="" id="submit-form">
      {% csrf_token %}
      <div class='disease'>
        <label class='tag'>Disease: </label>
        {% render_field form.dropdown class+="disease-input" %}
      </div>
      <div class='location'>
        <label class='tag'>Select a location: </label>
        {% render_field form.location class+="location-input" id="location-input" placeholder+="Location: " %}
      </div>
      <div class='map' id='map'><script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkqT5NcD8JHNfdPqy2iVWqkLDv9Kl208A&callback=initMap" id="mapScript"></script></div>
      <div class='submit'>
        <input type="submit" value="Calculate" id='submitButton'>
      </div>
    </form>
    <hr id="bottomDivider">
    <section class='results-main'>
      <!-- {{ risk }} -->
      <div class='risk-result' id="risk-result"><span id="riskColon">Risk:</span><p id="riskLevel">{{ risk }}</p></div>
      <button id="supportedToggle" class="closed">Supported Countries &#x25BE; </button>
      <div class="graph-div" id="graph-div"><img src='data:image/png;base64,{{ graph }}' class='graph' id='graph'></div>
    </section>
    <button id="detailedToggle" class="closed">Detailed Analysis: &#x25BE; </button>
    <section class='hidden' id="results-detailed">
      <p class="detailedHeader hidden" id="percentileHeader">Relative rank:</p>
      <!-- {{ percentile }} {{ supported }} -->
      <p class='hidden' id="percentile">{{ percentile }} {{ supported }}</p>
      <p class="detailedHeader hidden" id="factorHeader">Location-specific factors:</p>
      <!-- {{ factors }} -->
      <p id='factors' class="hidden">{{ factors }}</p>
      <p id="reference" class="hidden"><a href="{{ reference }}" target="_blank">Learn more about {{ disease }}</a></p>
      <!-- {{ show }} -->
      <!--This p element is updated once post data received, when inner text == 'show', hidden divs are shown -->
      <p id="hidden">{{ show }}</p>
    </section>
  </main>
  <script src="{% static 'js/risk_js.js' %}"></script>
</body>
</html>